/* basic edit */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background: rgb(226, 223, 160);
    background: linear-gradient(90deg, rgba(226, 223, 160, 1) 0%, rgba(223, 222, 176, 1) 52%, rgba(226, 223, 160, 1) 100%);
    /* scroll-behavior: smooth; */
}

header {
    min-height: 10vh !important;
    background: rgb(231, 153, 75);
    background: linear-gradient(90deg, rgba(231, 153, 75, 1) 0%, rgba(245, 194, 155, 1) 52%, rgba(231, 153, 75, 1) 100%);
}

main {
    min-height: 85vh !important;
}

footer {
    min-height: 5vh !important;
    background: rgb(231, 153, 75);
    background: linear-gradient(90deg, rgba(231, 153, 75, 1) 0%, rgba(245, 194, 155, 1) 52%, rgba(231, 153, 75, 1) 100%);
}

/* home edit */

#logo {
    background: rgb(223, 199, 199);
    background: radial-gradient(circle, rgba(223, 199, 199, 1) 1%, rgba(18, 63, 196, 1) 100%);
    width: 10rem !important;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 10px, rgba(0, 0, 0, 0.856) 5px 4px 3px;
}

.carousel-item {
    height: 11.5vh;
}

.hometitle {
    z-index: 1;
    color: rgb(179, 6, 6);
    text-shadow: 2px 2px 2px rgb(201, 91, 91);
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 4rem;
    background-color: rgba(212, 186, 36, 0.534);
}

.hometitle:hover {
    transition: 1s;
    box-shadow: rgba(240, 211, 46, 0.4) 5px 5px, rgba(240, 211, 46, 0.3) 10px 10px, rgba(240, 211, 46, 0.2) 15px 15px, rgba(240, 211, 46, 0.0) 20px 20px, rgba(240, 211, 46, 0.05) 25px 25px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.541) 20px 19px 38px, rgba(0, 0, 0, 0.856) 20px 15px 12px;
    height: 400px;
    border-radius: 2rem !important;
    background: rgb(231, 153, 75);
    background: linear-gradient(90deg, rgba(231, 153, 75, 1) 0%, rgba(245, 194, 155, 1) 52%, rgba(231, 153, 75, 1) 100%);
}

.card>img {
    height: 200px;
    object-fit: cover;
}

.footerimg {
    width: 35px;
}

.footerp {
    text-align: center;
    font-size: smaller;
    color: rgb(179, 6, 6);
    text-shadow: 1px 1px 2px rgb(3, 3, 3);
    margin-right: 1rem;
}

.navbar-brand {
    color: rgb(241, 238, 9) !important;
    font-weight: 900;
    font-size: xx-large;
}

.navbar {
    background-color: rgb(251, 148, 63) !important;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

li a {
    color: white !important;
    font-size: xx-large;
    font-weight: 1000 !important;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

li a:hover {
    color: rgb(248, 2, 2) !important;
}

.mainform {
    background: rgb(251, 148, 63);
    background: rgb(231, 153, 75);
    background: linear-gradient(90deg, rgba(231, 153, 75, 1) 0%, rgba(245, 194, 155, 1) 52%, rgba(231, 153, 75, 1) 100%);
    border-radius: 1rem;
}

.btn2 {
    position: absolute;
    right: 15px;
    bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgb(251, 148, 63);
    background: radial-gradient(circle, rgba(251, 148, 63, 0.9164040616246498) 0%, rgba(252, 70, 70, 1) 100%);
    font-weight: bolder;
    border: none;
}

.btnsearch {
    background: rgb(238, 6, 58);
    background: linear-gradient(90deg, rgba(238, 6, 58, 1) 0%, rgba(253, 29, 116, 0.7763480392156863) 47%, rgba(238, 6, 58, 1) 100%);
    font-weight: bolder;
    border: none;
    text-shadow: 1px 1px 2px black;
}

h5 {
    color: crimson !important;
    font-weight: 1000;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(3, 3, 3);
}

h6 {
    color: crimson !important;
    font-weight: 1000;
    position: absolute;
    left: 25px;
    bottom: 15px;
    text-shadow: 1px 1px 2px rgb(3, 3, 3);
}

.card-body p {
    font-size: 1.1rem !important;
    color: rgb(241, 235, 236) !important;
    text-align: center;
    font-weight: 1000;
    text-shadow: 2px 2px 2px black;
}

.btnSearch {
    color: rgb(255, 255, 255) !important;
}

.btnSearch:hover {
    transform: scale(1.2) !important;
}

.btn2:hover {
    transition: 0.5s;
    color: gold;
    transform: scale(1.1);
    background: rgb(213, 88, 26);
    background: linear-gradient(90deg, rgba(213, 88, 26, 1) 0%, rgba(221, 19, 30, 1) 50%, rgba(213, 88, 26, 1) 100%);
}

fieldset {
    font-size: x-large;
    font-weight: 550;
    text-shadow: 2px 2px 2px black;
}

/* contact edit */

.labelcontact {
    color: crimson !important;
    font-size: xx-large;
    font-weight: 600;
}

.inputcontact {
    width: 600px;
}

textarea {
    width: 37.5rem;
    height: 12rem;
    resize: none;
}

.submitbtn {
    margin: 1rem;
    width: 5rem;
    height: 2rem;
    background: rgb(251, 148, 63);
    background: radial-gradient(circle, rgba(251, 148, 63, 0.9164040616246498) 0%, rgba(252, 70, 70, 1) 100%);
    color: white;
    border-radius: 1rem;
}

.submitbtn:hover {
    transition: 0.5s;
    color: gold;
    transform: scale(1.1);
    background: rgb(213, 88, 26);
    background: linear-gradient(90deg, rgba(213, 88, 26, 1) 0%, rgba(221, 19, 30, 1) 50%, rgba(213, 88, 26, 1) 100%);
}

/* stats edit */

caption {
    caption-side: top;
}

table {
    box-shadow: rgba(0, 0, 0, 0.541) 20px 19px 38px, rgba(0, 0, 0, 0.856) 20px 15px 12px;
}

tr,
th,
td {
    border: double red 1px;
    padding: 0.3rem;
}

td {
    height: 2rem;
    width: 25rem;
    color: rgb(173, 15, 15);
    font-weight: 600;
}

.tbltitle {
    text-shadow: 1px 1px 2px rgb(81, 82, 22);
    color: crimson;
    font-weight: 900;
    background: rgb(245, 79, 58);
    background: linear-gradient(90deg, rgba(245, 79, 58, 1) 0%, rgba(237, 253, 29, 1) 47%, rgba(252, 99, 69, 1) 100%);
}

.tblsubtitle {
    color: rgb(233, 34, 34);
    text-shadow: 1px 1px 2px black;
}

/* details edit */

.detailcontainer {
    background: rgb(233, 238, 6);
    background: radial-gradient(circle, rgba(233, 238, 6, 1) 0%, rgba(253, 168, 29, 0.7763480392156863) 47%, rgba(233, 238, 6, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.541) 20px 19px 38px, rgba(0, 0, 0, 0.856) 20px 15px 12px;
}

.imgdetail {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    margin: 2rem;
    background: rgb(226, 223, 160);
    background: linear-gradient(90deg, rgba(226, 223, 160, 1) 0%, rgba(223, 222, 176, 1) 52%, rgba(226, 223, 160, 1) 100%);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.541) 20px 19px 38px, rgba(0, 0, 0, 0.856) 20px 15px 12px;
}

.txtdetail {
    width: 30rem;
    height: 30rem;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background: rgb(226, 223, 160);
    background: linear-gradient(90deg, rgba(226, 223, 160, 1) 0%, rgba(223, 222, 176, 1) 52%, rgba(226, 223, 160, 1) 100%);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.541) 20px 19px 38px, rgba(0, 0, 0, 0.856) 20px 15px 12px;
}

.txtdetail p {
    color: crimson !important;
    text-align: center;
    font-size: medium;
    text-shadow: 1px 1px 2px black;
}

/* mediaquerys */

@media only screen and (min-width: 320px) and (max-width:425px) {
    #logo {
        margin-top: 10px;
    }

    .homeupcoming {
        font-size: larger !important;
    }

    .navbar {
        margin: 10px;
    }

    .carousel-item {
        height: 4.7vh;
    }

    .mainform {
        background: none !important;
    }

    .hometitle {
        font-size: x-large;
    }

    .mainfooter {
        flex-direction: column;
        min-height: 10vh;
    }

    .inputcontact {
        width: 14rem;
    }

    textarea {
        width: 15rem;
        height: 10rem;
        resize: none;
    }

    .imgstat {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
        margin: 1rem;
    }

    .txtstat {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
        margin: 1rem;
    }

    .statcontainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .txtstat p {
        font-size: small;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .detailcontainer {
        flex-direction: column;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .imgdetail {
        width: 16rem;
        height: 16rem;
    }

    .txtdetail {
        width: 16rem;
        height: 25rem;
    }
}

@media only screen and (min-width:425px) and (max-width:990px) {
    #logo {
        margin-top: 10px;
    }

    .navbar {
        margin: 10px;
    }

    .homeupcoming {
        font-size: 1.5rem !important;
    }

    .navbar {
        width: 60%;
    }

    .inputcontact {
        width: 20rem;
    }

    textarea {
        width: 18rem;
        height: 10rem;
        resize: none;
    }

    .carousel-item {
        height: 6vh;
    }

    .mainform {
        background: none !important;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .hometitle {
        font-size: xx-large;
    }

    .imgstat {
        width: 20rem;
        height: 20rem;
    }

    .txtstat {
        width: 20rem;
        height: 20rem;
    }

    .statcontainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .detailcontainer {
        flex-direction: column;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .imgdetail {
        width: 20rem;
        height: 20rem;
    }

    .txtdetail {
        width: 20rem;
        height: 24rem;
    }
}

@media only screen and (min-width:990px) {
    .mainnav {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .mainform {
        flex-direction: row !important;
        justify-content: space-around !important;
        margin: 1rem;
    }


    .imgdetail {
        width: 29rem;
        height: 29rem;
    }

    .txtdetail {
        width: 29rem;
        height: 29rem;
    }
}